

.about-p{
    color: var( --color-white);
    line-height: 3ch;
    font-size: calc(1.1ch + 0.4vw);
    max-width: 1200px;
}

.about-name-and-foto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   
}
.about-foto{
    width: calc(15% + 0.5vw);
    height: auto;
    border-radius: 45%;
    margin-right: 5vw;
}

.about-name-and-foto h1{
    font-size: calc(3ch + 0.4vw);
}

