

.about-p{
    color: var( --color-white);
    line-height: 3ch;
    font-size: calc(1.1ch + 0.4vw);
    max-width: 1200px;
}

.about-name-and-foto{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    line-height: var(--line);

}

.about-foto{
    width: calc(15% + 0.5vw);
    height: auto;
    border-radius: 45%;
    margin-right: 5vw;
    opacity: 0.6;
}

.about-name-and-foto h1{
    font-size: calc(3ch + 0.4vw);
}

/* in that way can all the text in the middle stay */
section{
    max-width: 800px;
    margin-inline: auto;
    padding: 0 1rem 0 1rem;
}