



section{
    color: var(--color-writinggray);
    line-height: 3ch;
    font-size: calc(1ch + 0.4vw);
}

h1,strong{
    line-height: var(--line);
    color: var(--color-special-blue);
    border-bottom: 3px solid var(--color-special-blue);
}
