

section{
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 70vh;
    margin-inline: auto;
    justify-content: center;
    max-width: 900px;
    display: flex;
    
}
.main-div{
    display: flex;
}
 /* εκανα αυτό το αντικείμενο μονο και μόνο για να κάνω να είναι δυναμικά τα γράμματα στο κέντρο περιπου της οθόνης! */
.main-div article{
    max-width: 15vw;
}

.main-div h1{
    color: var(--color-writinggray);
    font-size:calc(4ch + 0.5vw);
    text-shadow: 2px 2px 5px var(--color-special-blue);
}

.main-div h3{
    color: rgb(126, 121, 121);
    font-size: calc(1.5ch + 0.5vw);
    font-weight: 400;
}
/*the Schnellecke aanchor in the paragraf to change */
p a{
    color: var(--color-special-green);
    text-decoration: none;
}

p a:hover {
    color: var(--color-white);
    background-color: var(--color-special-hovergray);
    border-radius: 8px;
    padding: .1ch .3ch;
    box-shadow: 1px .5px currentColor;
}