


.grid-container{
    display: inline-grid;
    grid-template-columns: auto;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

/* Start Submit button adjustments */
#submitBtn{
    background-color: #333333 ;
    color: #00FF00;
    font-weight: bold;
    border-radius: 5px;
    padding: 0.3em 1em;
    margin-left: 1em;
    border: 1px solid #a1bba1;
    box-shadow: 0px 0px 8px #a1bba1;
    
}

#submitBtn:hover{
    cursor: pointer;
}

#submitBtn:active{
    /*οταν πατάω το κουμπί εξαφανίζεται η σκιά και φένεται σαν να πάτισα πραγματικό κουμπί!*/
    box-shadow: none;
   
}

/* Stop Submit button adjustments */



#label-item-2{
    line-height: 2.5rem;
}

.grid-item-2{
    margin-top: 2rem;
}




.grid-item-3{
    margin-top: 5rem;
}


label span{

    color: var(--color-special-green);
    /* Opacity is the degree to which content behind an element is hidden, and is the opposite of transparency. */
    opacity:0;
    transition: all 0.7s linear;
    font-size: 2em;
}

.animation{
    opacity: 1;
}

/* διακόσμηση για την κινούμενη γραμματοσειρά με το κείμενο.  */
.news-ticker{
    /* background-color:rgb(134, 198, 241, 0.2);
     */
    color: var(--color-special-green);
    font-weight: 700;
    font-size: 1.5em;
    overflow: hidden;
    position: relative; 
    letter-spacing: 1px;
    display: flex; 
    align-items: center;
    text-transform: uppercase;
}
.news-ticker p{
    
    width:80%;
    padding:0.5rem;
     
    animation: Thorsten 15s linear infinite;
}

@keyframes Thorsten{
    0% {
        transform: translate(100%);
        color: rgb(215, 217, 235);
    }
    100%{
        transform: translate(-100%);
        color: var(--color-special-green);
    }
}
