


.grid-container{
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    padding: 20px;
    margin: 20px;
    position: relative;
}
.grid-item-1{
    margin-top: 0;
}

/* Start Submit button adjustments */
#submitBtn{
    background-color: #333333 ;
    color: #00FF00;
    font-weight: bold;
    border-radius: 5px;
    padding: 0.3em 1em;
    margin-left: 1em;
    border: 1px solid #a1bba1;
    box-shadow: 0px 0px 8px #a1bba1;
    
}

#submitBtn:hover{
    cursor: pointer;
}

#submitBtn:active{
    /*οταν πατάω το κουμπί εξαφανίζεται η σκιά και φένεται σαν να πάτισα πραγματικό κουμπί!*/
    box-shadow: none;
   
}

/* Stop Submit button adjustments */



.grid-item-2-container{
    margin-top: 5rem;
    border: 1px solid var(--color-special-green);
    width:100%;
    height: auto;
}

.grit-item-2-title, h3> span{
    border-bottom: 0.15rem solid var(--color-special-blue);
}   

#label-item-2{
    line-height: 2.5rem;
    margin-left: 2rem;

}

.grid-item-2-output{
    margin-top: 10px;
    padding: 5px;
    height: 20px;
}


label span{

    color: var(--color-special-green);
    /* Opacity is the degree to which content behind an element is hidden, and is the opposite of transparency. */
    opacity:0;
    transition: all 0.7s linear;
    font-size: 2em;
}

.animation{
    opacity: 1;
}

/* διακόσμηση για την κινούμενη γραμματοσειρά με το κείμενο.  */
.news-ticker{
    /* background-color:rgb(134, 198, 241, 0.2);
     */
     height: 60px;
    color: var(--color-special-green);
    font-weight: 700;
    font-size: 1.5em;
    overflow: hidden;
    position: relative; 
    letter-spacing: 1px;
    display: flex; 
    align-items: center;
    text-transform: uppercase;
}
.news-ticker p{
    
    width:80%;
    
     
    animation: Thorsten 8s linear infinite;
}

@keyframes Thorsten{
    0% {
        transform: translate(90%);
        color: rgb(215, 217, 235);
    }
    100%{
        transform: translate(-90%);
        color: var(--color-special-green);
    }
}
/*******************************************************************************/

.grid-item-3-container{
    margin-top: 1rem;
    border: 1px solid var(--color-special-green);
    width:100%;
    height: auto;
}

.grit-item-3-title, h3> span{
    border-bottom: 0.15rem solid var(--color-special-blue);
}   



td  {
    background-color: lightcyan;
}

table{
    width:100%;
    border-spacing: 1rem;
    color: rgb(12, 12, 12);
}
th{
    /* TODO me auto menei sta8ero to width kai mono megalonei
    pros ta kato. tora prepei na bazo perisoteres eikonew apo
    ta lefta analoga me ta kermata!!!! auto ua to kano sthn javascript*/
    width:3rem;
}

.bigCoins{
    width: 3rem;
}
.middleCoins{
    width: 2.5rem; 
}

.smallCoins{
    width: 2rem;
}